<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @competitor.rank %>
</p>

<p>
  <strong>Name:</strong>
  <%= @competitor.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @competitor.state %>
</p>

<p>
  <strong>Debate club:</strong>
  <%= @competitor.debate_club %>
</p>

<p>
  <strong>Speech club:</strong>
  <%= @competitor.speech_club %>
</p>

<p>
  <strong>Points:</strong>
  <%= @competitor.points %>
</p>

<%= link_to 'Edit', edit_competitor_path(@competitor) %> |
<%= link_to 'Back', competitors_path %>
